<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <display-name>CSDLKetNoi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CSDLController</display-name>
    <servlet-name>CSDLController</servlet-name>
    <servlet-class>controllers.CSDLController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSDLController</servlet-name>
    <url-pattern>/CSDLController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPassController</display-name>
    <servlet-name>ForgetPassController</servlet-name>
    <servlet-class>controllers.ForgetPassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassController</servlet-name>
    <url-pattern>/ForgetPassController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryController</display-name>
    <servlet-name>CategoryController</servlet-name>
    <servlet-class>controllers.CategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryController</servlet-name>
    <url-pattern>/CategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryAddController</display-name>
    <servlet-name>CategoryAddController</servlet-name>
    <servlet-class>controllers.CategoryAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryAddController</servlet-name>
    <url-pattern>/CategoryAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryDeleteController</display-name>
    <servlet-name>CategoryDeleteController</servlet-name>
    <servlet-class>controllers.CategoryDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryDeleteController</servlet-name>
    <url-pattern>/CategoryDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryFindController</display-name>
    <servlet-name>CategoryFindController</servlet-name>
    <servlet-class>controllers.CategoryFindController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryFindController</servlet-name>
    <url-pattern>/CategoryFindController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadImageController</display-name>
    <servlet-name>DownloadImageController</servlet-name>
    <servlet-class>controllers.DownloadImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadImageController</servlet-name>
    <url-pattern>/DownloadImageController</url-pattern>
  </servlet-mapping>
</web-app>