<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>HelloControllers</display-name>
    <servlet-name>HelloControllers</servlet-name>
    <servlet-class>plat.dev.controllers.HelloControllers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloControllers</servlet-name>
    <url-pattern>/HelloControllers</url-pattern>
  </servlet-mapping>
  <display-name>utesocial</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeModels</display-name>
    <servlet-name>HomeModels</servlet-name>
    <servlet-class>plat.dev.models.HomeModels</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeModels</servlet-name>
    <url-pattern>/HomeModels</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginHome</display-name>
    <servlet-name>LoginHome</servlet-name>
    <servlet-class>plat.dev.login.LoginHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHome</servlet-name>
    <url-pattern>/LoginHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>plat.dev.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>plat.dev.hello.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServletSession</display-name>
    <servlet-name>LoginServletSession</servlet-name>
    <servlet-class>plat.dev.login.LoginServletSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletSession</servlet-name>
    <url-pattern>/LoginServletSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>plat.dev.logout.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>plat.dev.profile.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileHome</display-name>
    <servlet-name>ProfileHome</servlet-name>
    <servlet-class>plat.dev.profile.ProfileHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileHome</servlet-name>
    <url-pattern>/ProfileHome</url-pattern>
  </servlet-mapping>
</web-app>